django
django-prometheus
djangorestframework
opentelemetry-sdk
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-django
mysqlclient
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
opentelemetry-instrumentation-logging
cryptography
locust
jwt
